 body{
    background-image: url("https://c1.wallpaperflare.com/preview/219/145/124/ecommerce-selling-online-online-sales-e-commerce.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
  
  

  
